{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/rnames_app.css' %}">
        <title>RNames</title>
    </head>
    <body>
        <div>
            <h1><a href="/">RNames</a></h1>
        </div>
        {% for name in names %}
            <div>
                <p>name: {{ name.name }}</p>
                <p>{{ name.created_at }}</p>
            </div>
        {% endfor %}
    </body>
</html>
