{% extends 'rnames_app/base_generic.html' %}

{% block content %}
<article>
    <div class="name">
        {% if name.created_at %}
            <div class="date">
                {{ name.created_at }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'name-edit' pk=name.pk %}"><span class="fa fa-pencil-square-o"></span></a>
          <a class="btn btn-default" href="{% url 'name-delete' pk=name.pk %}"><span class="fa  fa-trash-o"></span></a>          
        {% endif %}
        <h2>{{ name.name }}</h2>
    </div>
  </article>
{% endblock %}
