{% extends "rnames_app\base_generic.html" %}

{% block content %}

<article>
  Combined with an r-code (which will be published separately) the database is a tool to construct a list of names that are considered to be time equivalent in a certain framework. The algorithm of the correlation is based on explicit rules (e.g., "use the most actual opinion" or "use the best compromise between existing opinions").

  The resulting list of correlated names was primarily built to be matched with the stratigraphical names that define fossil occurrences in the PaleoDB. Currently three lists are available (Stage Slices, Time Slices, and Stages). But there is no limit to construct additional lists.

  The database currently contains only names that are related to the Ordovician Period, but there is no limitation to other time periods.

  The database is meant to grow, and the complete lists will become open access in the near future. You are invited to contribute and to add additional datasets, improve the code, etc.

  For comments contact <a href="mailto:bjorn.kroger@helsinki.fi?Subject=RNames" target="_top">Björn Kröger</a>

</article>

{% endblock %}
