body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  margin:  6px;
  padding: 6px;
  border:  1px solid lightgrey;
}


#relation-selector {
  display: flex;
  flex-direction: row;
}

#relation-selector > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#relation-selector > div > div {
  display: flex;
}