{% extends "base_generic.html" %}
{% block title %}RNames - Binning Scheme list{% endblock %}

{% block content %}
  <!-- Write your comments here -->
  <article>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-search"> Search</i></button>
        <a href="{% url 'binning-scheme-list' %}" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-undo"> Reset filter</i></a>
    </form>
    {% if user.is_authenticated %}
      <a href="{% url 'export-csv-binnings' %}" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-file-csv"> Export all binnings</i></a>
      <a href="{% url 'export-csv-references' %}" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-file-csv"> Export all references</i></a>
    {% endif %}

    {% if page_obj %}
    <table class="w3-table-all">
      <tr>
          <th>Binning scheme</th>
          <th>Name</th>
          <th>Oldest</th>
          <th>Youngest</th>
          <th>Time Slices</th>
          <th>Action</th>
        </tr>

        {% for x in page_obj %}
          <tr>
            <td>{{ x.get_binning_scheme_display }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.oldest }}</td>
            <td>{{ x.youngest }}</td>
            <td>{{ x.ts_count }}</td>
            <td><a href="{% url 'structuredname-list' %}?name__name={{ x.name }}"><span class="fa fa-search"></span></a></td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>There are no Binnings available.</p>
    {% endif %}

  </article>
  {% include 'pagination.html' %}

{% endblock %}
