{% extends 'base_generic.html' %}
{% block title %}RNames - Home{% endblock %}

{% block content %}
  {% load static %}
  <!-- Beginning of homepage content -->
  <section class="w3-content">
    <h1><a name="Binning Scheme">Binning Scheme</a></h1>
    <p>We have a number of binning schemes in RNames. The list of binning schemes will be expanded in the future and a feature is in planned to implement binning with users own binning schemes.</p>
    <br>Here is the list of currently available schemes:
    <ul>
      <li><a href="{% url 'binning-scheme-list' %}?binning_scheme=x_robinb">Ordovician Time Slices (Bergström et al. 2009 modified in Rasmussen et al. 2019)</a></li>
      <li><a href="{% url 'binning-scheme-list' %}?binning_scheme=x_robinw">Ordovician Time Slices (Webby et al. 2004)</a></li>
      <li><a href="{% url 'binning-scheme-list' %}?binning_scheme=x_robins">Phanerozoic Stages (ICS Chart, 2020)</a></li>
      <li><a href="{% url 'binning-scheme-list' %}?binning_scheme=x_robinp">Phanerozoic Epochs (ICS Chart, 2020)</a></li>
    </ul>
    <p>Our default binning algorithm is the combined – algorithm.</p>
    <p>Click if you search for binning results from the:</p>
    <ul>
      <li>shortest – algorithm Each algorithm is linked to page I call “algorithm_window”</li>
      <li>youngest – algorithm Each algorithm is linked to page I call “algorithm_window”</li>
      <li>compromise algorithm Each algorithm is linked to page I call “algorithm_window”</li>
    </ul>
    <p>Here is an explanation how these algorithms work. “Here” is a link that opens a help pages with text.</p>

  </section>
  <!-- End of homepage content -->
{% endblock %}
