{% extends 'base_generic.html' %}
{% block title %}RNames - Help - FAQ{% endblock %}

{% block content %}

<!-- Beginning of RNames - Help - FAQ-->
<article>
    <div class="help faq">
      <p><button type="button" class="w3-button w3-border w3-light-grey" onClick="javascript:history.back();" style="width:120px"><i class="fas fa-angle-double-left"></i>&nbsp;Go back</button></p>
        <header class="w3-hide">
            <h2>RNames - Help - FAQ</h2>
        </header>
        <h1>FAQ</h1>
        <button class="collapsible">Q: What is a Structured Name?</button>
        <div class="content">
          <p>A: In RNames Stratigraphic units are compiled as Structured_Names. Each stratigraphic unit is made up of unique combinations of a “Name” (e.g. “Saint Paul” , “Rockdale Run”, “Kullsberg  Limestone”, “Cahabagnathus sweeti” , or a number like “453.7”), a “Qualifier” (e.g. “Formation”, “Member”, “Regio_Stage”, “Bio_Conodont”), and a “Location” (e.g. “Alabama”, “Baltoscandia”, “China”, “Norway”)</p>
        </div>
        <button class="collapsible">Q: What are Qualifiers?</button>
        <div class="content">
          <p>A: Qualifiers qualify names of stratigraphic units. They are made up of a “Qualifier_Name” (e.g. “Formation”, “Member”, “Regio_Stage”, “Bio_Conodont”), a “Stratigraphic_Qualifier” (e.g. “Biostratigraphy”, “Chronostratigraphy”, “absolute Time”) and a “Level”.</p>
        </div>
        <button class="collapsible">Q: What are Locations?</button>
        <div class="content">
          <p>A: Locations are regions in which the stratigraphic unit occurs. They are intended to be used in the future for more detailed correlations. Do not enter place names or small geographic units, rather use the country, or in case of very large countries, states, or regions like Siberia, or Baltoscandia.</p>
        </div>
    </div>
    <script>
      var acc = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
      </script>
  </article>
  <!-- End of RNames - Help - FAQ-->
{% endblock %}
