{% extends 'base_generic.html' %}
{% block title %}RNames - Help - Database Structure{% endblock %}

{% block content %}
  {% load static %}
  <!-- Beginning of RNames help Database Structure-->
  <article>
    <div class="help">
      <p><button type="button" class="w3-button w3-border w3-light-grey" onClick="javascript:history.back();" style="width:120px"><i class="fas fa-angle-double-left"></i>&nbsp;Go back</button></p>
      <header class="w3-hide">
        <h2>RNames - Help - Database Structure</h2>
      </header>
      <h2><a name="C4">Database Structure</a></h2>
      <p>Simplified structure of the RNames Database (rnames.luomus.fi/). The database contains eight related tables (blue and red objects) of which the object “Relations” is central. In “Relations” correlated stratigraphic units are listed by reference. Three output tables (yellow objects) list time binned stratigraphic units based on a search algorithm that uses “Relations” via R-Package RMySQL (the scripts are available under github.com/bjoekroe/RNames). Global Stages after Cooper et al. (2012). Abbreviations: ID, identifier; StS, Stage Slice (Bergström et al., 2009); TS, Time Slice (Webby et al., 2004)</p>
      <img src="{% static "images/datascheme.png" %}" alt="Graph of Database Structure" align="middle">
    </div>
  </article>
  <!-- End of RNames help Database Structure-->
{% endblock %}
