{% extends 'base_generic.html' %}
{% block title %}RNames - Help - Database Structure{% endblock %}

{% block content %}
  {% load static %}
  <!-- Beginning of RNames help Structure of the Binning Algorithm-->
  <article>
    <div class="help">
      <p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>
      <header class="w3-hide">
        <h2>RNames - Help - Structure of the Binning Algorithm</h2>
      </header>
      <h2><a name="C4">Structure of the Binning Algorithm</a></h2>
      <p>The algorithm follows a number of six successive rules or steps. Each rule uses one of the two selector functions, and each rule applies to stratigraphic units that are successively less directly linked (i.e., less directly related by direct opinions) to the respective time bins.</p>
      <p>The current R-code can be accessed from <a href="https://github.com/bjoekroe/RNames" target="_blank">GitHub</a>.</p>
      <img src="{% static "images/algo.png" %}" alt="Graph of the Structure of the Binning Algorithm" align="middle" width="900">
    </div>
  </article>
  <!-- End of RNames help Structure of the Binning Algorithm-->
{% endblock %}
