{% extends 'base_generic.html' %}
{% block title %}RNames - Qualifier: {{ qualifier.id }}{% endblock %}

{% block content %}
<!-- Write your comments here -->
<article>
    <div class="qualifier">
      {% if user.is_authenticated %}
        <a href="{% url 'qualifier-edit' pk=qualifier.pk %}"><span class="fa fa-pencil-square-o"></span></a>
        <a href="{% url 'qualifier-delete' pk=qualifier.pk %}"><span class="fa  fa-trash-o"></span></a>
      {% endif %}
      <header class="w3-hide">
          <h2>RNames - Qualifier: {{ qualifier.id }}</h2>
       </header>
      <table class="w3-table-all">
        <caption>Qualifier: {{ qualifier.id }}</caption>
        <tr>
          <th>Qualifier Name</th>
          <td>{{ qualifier.qualifier_name }}</td>
        </tr>
        <tr>
          <th>Stratigraphic Qualifier</th>
          <td>{{ qualifier.stratigraphic_qualifier }}</td>
        </tr>
        <tr>
          <th>Level</th>
          <td>{{ qualifier.level }}</td>
        </tr>
      </table>
    </div>
  </article>
{% endblock %}
