{% extends "base_generic.html" %}
{% block title %}RNames - Qualifier Name list{% endblock %}

{% block content %}
  <!-- Write your comments here -->
  <article>
    <h1>Qualifier Names</h1>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-search"> Search</i></button>
        <a href="{% url 'qualifiername-list' %}" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-undo"> Reset filter</i></a>
    </form>
    {% if user.is_authenticated %}
      <br>
      <a href="{% url 'qualifiername-new' %}"><span class="fa  fa-plus"></span> Add</a>
      <br>
    {% endif %}

    {% if page_obj %}
    <table class="w3-table-all">
      <tr>
          <th>Qualifier Name</th>
          {% if user.is_authenticated %}
          <th>Action</th>
          {% endif %}
        </tr>

        {% for x in page_obj %}
          <tr>

            {% if user.is_authenticated %}
              <td><a href="{{ x.get_absolute_url }}">{{ x.name }}</td>
              <td>
                <a href="{% url 'qualifier-name-detail' pk=x.pk %}"><span class="fa fa-search"></span></a>
                <a href="{% url 'qualifiername-edit' pk=x.pk %}"><span class="fa fa-pencil-square-o"></span></a>
                <a href="{% url 'qualifiername-delete' pk=x.pk %}"><span class="fa  fa-trash-o"></span></a>
              </td>

            {% else %}
              <td>{{ x.name }}</td>
            {% endif %}

          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>There are no Qualifier Names available.</p>
    {% endif %}

  </article>
  {% include 'pagination.html' %}

{% endblock %}
