{% extends 'base_generic.html' %}
{% block title %}RNames - Qualifier{% endblock %}

{% block content %}
<!-- Write your comments here -->
  <article>
    {% if user.is_authenticated %}
      <h1>Edit Qualifier</h1>
      <form method="POST" class="qualifier-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="button" class="w3-button w3-border w3-light-grey" onClick="javascript:history.back();" style="width:120px"><i class="fas fa-angle-double-left"></i>&nbsp;Go back</button>
        <button type="submit" class="w3-button w3-border w3-light-grey" style="width:120px">Submit &nbsp; <i class="fas fa-angle-right"></i></button>      
      </form>
    {% else %}
      <p><a href="{% url 'account_login'%}?next={{request.path}}">Please login first</a></p>
    {% endif %}

  </article>
{% endblock %}
