{% extends 'base_generic.html' %}
{% block title %}RNames - Qualifier Name: {{ qualifiername.id }}{% endblock %}

{% block content %}
<!-- Write your comments here -->
<article>
    <div class="qualifiername">
        <p><button type="button" class="w3-button w3-border w3-light-grey" onClick="javascript:history.back();" style="width:120px"><i class="fas fa-angle-double-left"></i>&nbsp;Go back</button></p>
        <header class="w3-hide">
            <h2>RNames - Qualifier Name: {{ qualifiername.id }}</h2>
         </header>
        <table class="w3-table-all">
          <div>
            <h1 class="w3-left">Qualifier Name: {{ qualifiername.id }}</h1>
            <p class="w3-right icons">
              {% if user.is_authenticated %}
              <a href="{% url 'qualifiername-edit' pk=qualifiername.pk %}"><span class="fa fa-pencil-square-o"></span></a>
              <a href="{% url 'qualifiername-delete' pk=qualifiername.pk %}"><span class="fa  fa-trash-o"></span></a>
            {% endif %}
            </p>
          </div>
          <tr>
            <th>Name</th>
            <td>{{ qualifiername.name }}</td>
          </tr>
        </table>
    </div>
  </article>
{% endblock %}
