{% extends 'base_generic.html' %}
{% block title %}RNames - Relation: {{ relation.id }}{% endblock %}

{% block content %}
<!-- Write your comments here -->
<article>
    <div class="relation">
        {% if user.is_authenticated %}
          <a href="{% url 'relation-edit' pk=relation.pk %}"><span class="fa fa-pencil-square-o"></span></a>
          <a href="{% url 'relation-delete' pk=relation.pk %}"><span class="fa  fa-trash-o"></span></a>
        {% endif %}
        <p><button type="button" class="w3-button w3-border w3-light-grey" onClick="javascript:history.back();" style="width:120px"><i class="fas fa-angle-double-left"></i>&nbsp;Go back</button></p>
        <header class="w3-hide">
           <h2>RNames - Relation: {{ relation.id }}</h2>
        </header>
        <table class="w3-table-all">
          <h1>Relation: {{ relation.id }}</h1>
          <tr>
            <th>Name 1</th>
            <td>{{ relation.name_one }}</td>
          </tr>
          <tr>
            <th>Name 2</th>
            <td>{{ relation.name_two }}</td>
          </tr>
          <tr>
            <th>Reference</th>
            <td>{{ relation.reference }}</td>
          </tr>
        </table>
    </div>
  </article>
{% endblock %}
