{% extends "base_generic.html" %}
{% block title %}RNames - Stratigraphic Qualifier list{% endblock %}

{% block content %}
<!-- Write your comments here -->
<article>
  <form action="" method="get">
      {{ filter.form.as_p }}
      <button type="submit" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-search"> Search</i></button>
      <a href="{% url 'stratigraphic-qualifier-list' %}" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-undo"> Reset filter</i></a>
  </form>
  {% if user.is_authenticated %}
    <br>
    <a href="{% url 'stratigraphic-qualifier-new' %}"><span class="fa  fa-plus"></span> Add</a>
    <br>
  {% endif %}

  {% if page_obj %}
  <table class="w3-table-all">
    <tr>
        <th>Stratigraphic Qualifier Name</th>
        {% if user.is_authenticated %}
        <th>Action</th>
        {% endif %}
      </tr>

      {% for x in page_obj %}
        <tr>

          {% if user.is_authenticated %}
            <td>{{ x.name }}</td>
            <td>
              <a href="{% url 'stratigraphic-qualifier-detail' pk=x.pk %}"><span class="fa fa-search"></span></a>
              <a href="{% url 'stratigraphic-qualifier-edit' pk=x.pk %}"><span class="fa fa-pencil-square-o"></span></a>
              <a href="{% url 'stratigraphic-qualifier-delete' pk=x.pk %}"><span class="fa  fa-trash-o"></span></a>
            </td>

          {% else %}
            <td>{{ x.name }}</td>
          {% endif %}

        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no Stratigraphic Qualifiers available.</p>
  {% endif %}

  {% include 'pagination.html' %}

</article>

{% endblock %}
