{% extends 'base_generic.html' %}
{% block title %}RNames - Structured Name{% endblock %}

{% block script %}
<!-- {{ form.media.js }} used for Django select2 -->
{{ form.media.js }}
{% endblock %}

{% block content %}
<!-- Write your comments here -->
  <article>
    {% if user.is_authenticated %}
      <h2>Add/Edit Structured Name</h2>
      <form method="POST" class="name-form">{% csrf_token %}
        <table class="w3-table">
          {{ form.as_table }}
        </table>
        <button type="button" class="w3-button w3-border w3-light-grey" onClick="javascript:history.back();" style="width:120px"><i class="fas fa-angle-double-left"></i>&nbsp;Go back</button>
        <button type="submit" class="w3-button w3-border w3-light-grey" style="width:120px">Submit &nbsp; <i class="fas fa-angle-right"></i></button>      
      </form>
    {% else %}
      <p><a href="{% url 'account_login'%}?next={{request.path}}">Please login first</a></p>
    {% endif %}

  </article>
{% endblock %}
