{% extends 'base_generic.html' %}
{% block title %}RNames - Edit Time Slice{% endblock %}

{% block content %}
<!-- Write your comments here -->
  <article>
    {% if user.is_authenticated %}
      <h1>Edit Time Slice</h1>
      <form method="POST" class="timeslice-form">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="w3-btn w3-green">Save</button>
      </form>
      <button type="button" class="w3-button w3-border w3-light-grey" onClick="javascript:history.back();" style="width:120px">Cancel</button>
      {% else %}
      <p><a href="{% url 'account_login'%}?next={{request.path}}">Please login first</a></p>
    {% endif %}

  </article>
{% endblock %}
