{% extends "wizard_base.html" %}
{% block title %}RNames - Relation{% endblock %}
{% block button1 %}
<div class="w3-teal">
    <!--        <h2>Add Structured Name</h2>-->
    <button class="w3-btn w3-padding w3-teal w3-hover-cyan" onclick="selectFunction()"><i
            class="fas fa-angle-right"></i>&nbsp;Press here to select Structured Name&nbsp;<i
            class="fas fa-angle-double-right"></i></button>
</div>
{% endblock button1 %}

{% block script %}
<script>
    function selectFunction() {
        window.open("{% url 'wizard-structuredname-select' %}");
    }
</script>
{% endblock script %}