<!-- http://1bestcsharp.blogspot.com/2017/03/javascript-display-selected-html-table-row-into-input-text.html
https://www.plus2net.com/javascript_tutorial/window-child3.php#
-->

<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<html>
   <head>
      <title>Demo of Passing of value from Child to parent window</title>
      <META NAME="DESCRIPTION" CONTENT="Demo for sending value from Child window to parent window ">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <META NAME="KEYWORDS" CONTENT="Demo script, demo parent to child">
      <link rel="stylesheet" href="../images/all11.css" type="text/css">
   </head>
   <body>
      Here is the demo, Click the button ( take care of popup blocker of your browser ) and enter your name in child window opened. Then once closed it will be available at parent window.
      <br><br>
      <form method=post action='' name=f1>
         <table>
            <tr>
               <td>
                 Your Name:<input type=text name='p_name' readonly>
               </td>
               <td>
                 First Name:<input type="text" name="fname" id="fname" readonly>
               </td>
               <td>
                 Country:<input type="text" id="country" name="country" readonly>
               </td>
            </tr>
         </table>
         <a href="javascript:void(0);" NAME="My Window Name" title=" My title here " onClick=window.open("{% url 'child' %}","Ratting","width=550,left=150,top=200,toolbar=1,status=1,");>Click here to open the child window</a>
      </form>
   </body>
</html>
