{% extends 'base_generic.html' %}
{% block title %}RNames - Qualifier Name{% endblock %}

{% block content %}
<!-- Write your comments here -->
  <article>
    {% if user.is_authenticated %}
      <h2>Add/Edit Qualifier Name</h2>
      <form method="POST" class="qualifiername-form">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-default">Save</button>
      </form>
      <p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>
    {% else %}
      <p><a href="{% url 'login'%}?next={{request.path}}">Please login first</a></p>
    {% endif %}
  </article>
{% endblock %}
