{% extends 'base_generic.html' %}

{% block content %}
<!-- Write your comments here -->
<article>
    <div class="qualifiername">
        {% if qualifiername.created_at %}
            <div class="date">
                {{ qualifiername.created_at }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'qualifiername-edit' pk=qualifiername.pk %}"><span class="fa fa-pencil-square-o"></span></a>
          <a class="btn btn-default" href="{% url 'qualifiername-delete' pk=qualifiername.pk %}"><span class="fa  fa-trash-o"></span></a>
        {% endif %}
        <p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>
        <header style="display:none;">
            <h2>RNames - Qualifier Name: {{ qualifiername.id }}</h2>
         </header>
        <table class="w3-table-all">
          <caption>Qualifier Name: {{ qualifiername.id }}</caption>
          <tr>
            <th>Name</th>
            <td>{{ qualifiername.name }}</td>
          </tr>
        </table>
    </div>
  </article>
{% endblock %}
