{% extends "base_generic.html" %}
{% block title %}
  <title>Manage Relations</title>
{% endblock %}

{% block content %}
<!-- Write your comments here -->
<article>
  <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit" />
  </form>
  {% if user.is_authenticated %}
    <br>
    <a class="btn btn-default" href="{% url 'relation-new' %}"><span class="fa  fa-plus"></span> Add</a>
    <br>
  {% endif %}

  {% if filter.qs %}
    <table style="width:100%">
      <tr>
        <th>Name 1</th>
        <th>Name 1</th>
        <th>Belongs to</th>
        {% if user.is_authenticated %}
        <th>Action</th>
        {% endif %}
      </tr>

      {% for x in filter.qs %}
        <tr>

          {% if user.is_authenticated %}
            <td>{{ x.name_one }}</td>
            <td>{{ x.name_two }}</td>
            <td>{{ x.belongs_to }}</td>
            <td>
              <a class="btn btn-default" href="{% url 'relation-detail' pk=x.pk %}"><span class="fa fa-search"></span></a>
              <a class="btn btn-default" href="{% url 'relation-edit' pk=x.pk %}"><span class="fa fa-pencil-square-o"></span></a>
              <a class="btn btn-default" href="{% url 'relation-delete' pk=x.pk %}"><span class="fa  fa-trash-o"></span></a>
            </td>

          {% else %}
            <td>{{ x.name_one }}</td>
            <td>{{ x.name_two }}</td>
            <td>{{ x.belongs_to }}</td>
          {% endif %}

        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no Relations available.</p>
  {% endif %}

</article>

{% endblock %}
