{% extends 'base_generic.html' %}
{% block title %}RNames - Home{% endblock %}

{% block content %}
  <!-- Beginning of binning -->
  <!DOCTYPE html>

<section class="w3-section">
  <h2>Dynamic Progress Bar with Labels</h2>
  <p>Label outside of the progress bar:</p>

  <div class="w3-light-grey">
    <div id="myBar" class="w3-container w3-green" style="height:24px;width:0%">
    </div>
  </div>

  <p id="myP">Added <span id="demo">0</span> of <span id="n">0</span> Names</p>

  <button class="w3-button w3-light-grey" onclick="move();this.disabled='true'">Bin Names</button>
</section>

<script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 0;
  var n = 123;
  document.getElementById("n").innerHTML = n;
  var id = setInterval(frame, 50);
  function frame() {
    if (width >= n) {
      clearInterval(id);
      document.getElementById("myP").className = "w3-text-green w3-animate-opacity";
      document.getElementById("myP").innerHTML = "Successfully processed 1000 Names!";
    } else {
      width++;
      elem.style.width = width/n * 100 + '%';
      var num = width;
      num = num.toFixed(0)
      document.getElementById("demo").innerHTML = num;
    }
  }
}
</script>
  <!-- End of binning -->

{% endblock %}
